<div class="card">
  <div class="header">
    <h2 class="title">Flight Search</h2>
  </div>

  <div class="content">

    <form #f="ngForm">
      <div class="form-group">
        <label>From:</label>
        <input
          [(ngModel)]="from"
          name="from"
          class="form-control"
          required
          minlength="3"
          maxlength="10"
          pattern="[a-zA-Z]*">
        <div
          *ngIf="f?.controls['from']?.hasError('required')"
          class="text-danger">
          Please enter a value.
        </div>
        <div
          *ngIf="f?.controls['from']?.hasError('minlength')"
          class="text-danger">
          Please enter at least 3 chars.
        </div>
      </div>
      <div class="form-group">
        <label>To:</label>
        <input
          [(ngModel)]="to"
          name="to"
          class="form-control">
      </div>
      <div class="form-group">
        <button
          (click)="search()"
          class="btn btn-default">Search</button>
      </div>
    </form>
    <pre 
      *ngIf="f?.controls['from']?.errors">
      {{ f?.controls['from']?.errors | json }}
    </pre>
  </div>
</div>

<div class="row">
  <div
    *ngFor="let flight of flights"
    class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <app-flight-card
      [item]="flight"
      [selected]="basket[flight.id]"
      (selectedChange)="handleEvent(flight, $event)">

      <span class="my-bottom-content">Hello Flight!</span>

      <pre>
          {{ basket | json }}
      </pre>

    </app-flight-card>
  </div>
</div>

<div class="card" *ngIf="selectedFlight">
  <div class="content">
    <pre>{{ selectedFlight | json }}</pre>
  </div>
</div>

<div class="card" *ngIf="basket">
  <div class="content">
    <pre>{{ basket | json }}</pre>
  </div>
</div>

<div class="card" *ngIf="selectedFlight">
  <div class="content">
    <div *ngIf="message">
      <pre>{{ message }}</pre>
    </div>
  
    <div class="form-group">
      <label>ID</label>
      <input
        [ngModel]="selectedFlight.id"
        class="form-control"
        disabled>
    </div>
  
    <div class="form-group">
      <label>From</label>
      <input
        [(ngModel)]="selectedFlight.from"
        class="form-control">
    </div>

    <div class="form-group">
      <label>To</label>
      <input
        [(ngModel)]="selectedFlight.to"
        class="form-control">
    </div>

    <div class="form-group">
      <label>Date</label>
      <input
        [(ngModel)]="selectedFlight.date"
        class="form-control">
    </div>
    
    <div class="form-group">
      <button
        (click)="save()"
        class="btn btn-default" >Save</button>
    </div>
  </div>
</div>